.footer
    background-color: $light
    padding-top: 4.28rem
    padding-bottom: 4.28rem
    &__wrapper
        display: flex
        align-items: center
    &__logo
        margin-right: 2.57rem
    &__nav
        margin-right: auto
    &__item
        color: $button-grey
        margin-right: 1.071rem
        text-decoration: none
        font-size: 1.28rem
        line-height: 1.5rem
        &:last-child
            margin-right: 0
    &__icon-link
        margin-right: 1.5rem
        text-decoration: none
        // transition: 0.3s all
        overflow: hidden 
        &:hover
            & img
                animation: roll-in-left 0.5s linear forwards 
                animation-delay: 0.1s
        &:last-child
            margin-right: 0
            & img 
                min-height: 1.78rem
    &__social
        display: flex
        align-items: center