.promo
    background: url(../img/hero/bg.png) center no-repeat
    background-size: cover
    border-radius: 10px
    padding-top: 4.85rem
    padding-bottom: 4.85rem
    padding-left: 5rem
    &__title
        color: $title-black
        font-size: 2.78rem
        font-weight: 700
        line-height: 3.28rem
        max-width: 29rem
        margin-top: 0
        margin-bottom: 1.1rem
    &__subtitle
        color: $title-black
        font-size: 2rem
        margin: 0
        max-width: 42rem
